body {
    padding: 100px;
    margin-left: 150px;
    width: 70rem;
}

.char_img{
    padding-top: 2rem;
    text-align: center;
}

.btn{
    color: white;
}
.statblock-card{
    background-image: radial-gradient(circle, #f8f2d6 65%, #a77c43);
    height: 100rem;
}

.char_detz{
    padding: 2rem;
}

.Name{
    font-family: "Grenze Gotisch", serif;
    font-size: 2rem;
    font-style: normal;
    color: #7a0000;
}

.species{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

hr {
    color: #372b16;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
.container div {
    font-size: 1.15rem;
    text-align: center;
}

p{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
}

h5{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

.rating{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-size: 0.9rem;
}

.metrics{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-size: 0.9rem;
}

#challenges{
    margin: 1rem;
}